@charset "UTF-8";

html {
  font-size: 100%;

}
body {
  margin: 0;
  padding: 0;
  color: #ffffff;
  background-color: #373e46;
  background-attachment: fixed; /* 背景を固定 */
  background-size: cover; /* 背景画像をカバー */
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto 130px auto;
  font-size: 0.9rem;
  padding: 0.4%;
}
.site-title {
  line-height: 1px;
}
.site-title a {
  display: block;
}
.sec-title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 65px;
}
main {
    margin: 0; /* mainのデフォルトマージンをリセット */
    padding: 0; /* mainのデフォルトパディングをリセット */
  }
header {
    background-color: #373e46;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
    border-bottom: 2px solid #373e46;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:300px;
    margin-bottom: 0;
  }
  
header h1 {
    color:#373e46;
    font-family: 'Georgia', serif;
    font-size: 2rem;
    margin: 0;
    margin-left: 100px;
  }
  header img {
    width: 600px;
    height: 600px;
    filter: brightness(0) invert(1);
    padding-left: 30px;
  }
  
header nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-right: 100px;
  }
  
header nav ul li {
    margin: 1rem;
  }
  
header nav ul li a {
    color: #ffffff;
    font-family: 'Yu Mincho', '游明朝体', serif;
  }

#mainvisual {
    margin: 0;
    padding: 0;
    margin-bottom: 200px;
 
  }
  #mainvisual img {
    width: 100%;
    max-width: 2000px;
    height: 500px;
    object-fit: fill;
  }

#about {
    margin-bottom: 100px;
    text-align: center;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 100px;
    font-family: 'Georgia', serif;
  }
  .p1, .p2, .p3, .p4, .p5, .p6, .p7{
    display: block;
    margin-bottom: 1rem; /* 各段落の下に余白を追加 */
  }

#works {
    margin-bottom: 80px;
    text-align: center;
    padding: 15rem;
  }
  h2 {
    font-size: 2rem;
    margin-bottom: 80px;
    font-family: 'Georgia', serif;
  }
  h2 p {
    display: block;
    font-size: 0.8rem;
  }

  #works ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    gap : 1rem;
  }

   #works li{
    position: relative;
    width: calc(33.333% - 1rem); /* 3列に並べる */
}

   #works li:before{
    content: "";
    display: block;
    padding-top: 100%;
  }

  #works img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    object-fit: cover;
    cursor: pointer;
    transition: opacity 0.3s ease; /* ホバー効果のためのトランジション */
  }

  #works img:hover {
    opacity: 0.7;
  }

  #popup {
    display: none; /* 初期状態では非表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  #popup-content {
    text-align: center;
  }
  
  #popup img {
    max-width: 50%;
    max-height: 80%;
  }
  
  #popup p {
    color: #ffffff;
    margin-top: 1rem;
    text-align: center;
    opacity: 0; /* 初期状態で透明にする */
    animation: fadeIn 2s forwards; /* フェードインアニメーションを適用 */
  }

#contact {
        margin-bottom: 100px;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 50px;
        font-family: 'Georgia', serif;
    }
    #contact form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #contact form input
    {
      margin-bottom: 1rem;
      padding: 0.5rem;
      width: 40%;
      border: solid 1px #a9a9a9;
    }

    #contact form textarea
    {
      margin-bottom: 1rem;
      padding: 0.5rem;
      width: 40%;
      height: 100px;
      border: solid 1px #a9a9a9;
    }

    #contact form button
    {
      width: 200px;
      background-color: #626b74;
      color: #fff;
      padding: 15px 0;
      border: solid 1px #a9a9a9;
    }

    #contact form button:hover
    {
      background-color: #373e46;
    }


    @media (max-width: 600px) {
      header {
        margin-top: 100px;
        margin-bottom: 20px;
        flex-direction: column;
        height: auto;
        border-bottom: 2px solid #373e46;
      }

      header img {
        width: 300px;
        height: 300px;
        filter: brightness(0) invert(1);
        padding-right: 10px;
      }
    
      header h1 {
        margin-left: 0;
        margin-bottom: 1rem;
      }
    
      header nav ul {
        flex-direction: column;
        margin-right: 0;
      }
    
      header nav ul li {
        margin: 0.5rem 0.5rem;
      }
    
      #mainvisual {
        width: 100%;
        height: 500px;
      }
    
      #mainvisual img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* 画像をコンテナに合わせてカバー */
      }
    
      #about {
        padding: 1rem;
      }
    
      .p8 {
        white-space: pre-wrap;
      }
    
      #works {
        padding: 1rem;
      }
    
      #works ul li {
        width: calc(100% - 1rem); /* 1列に並べる */
      }
      #popup p {
        padding: 2rem;
      }
    
      #contact form {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
  
      #contact form input
      {
        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 60%;
        border: solid 1px #a9a9a9;
      }
  
      #contact form textarea
      {
        margin-bottom: 1rem;
        padding: 0.5rem;
        width: 60%;
        height: 100px;
        border: solid 1px #a9a9a9;
      }
      
    }
